<!DOCTYPE html>
<hmtl>
    <head>
          <title>Controle Estoque</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Importação do bootstrap -->
          {% load static %}
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
          <!-- Fim da importação do Bootstrap -->
    </head>

    <body>

        {% include "navbar.html" %}

        <h1>cola cola </h1>
        <form>


            <label for="browser" class="form-label">Choose your browser from the list:</label>
            <input class="form-control" list="browsers" name="browser" id="browser">
            <datalist id="browsers">
              <option value="Coca">
              <option value="Guarana">
              <option value="Fanta">
              <option value="Outro">
              <option value="Carvao">
            </datalist>
        </form>

    </body>
</hmtl>